{% extends 'base/account.html' %}

{% block content %}
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                <form action="{% url 'account:password_reset' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.email }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                        </div>
                    </div>
                </form>

                <p class="mt-3 mb-1">
                    <a href="{% url 'account:sign_in' %}">Sign-In</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}