{% load adminlte_helpers i18n %}
{%load static %}

<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
     <!-- Brand Logo -->
    {% block logo %}
        <a href="{% url 'product:list' %}" class="brand-link">
            {% block logo_text %}<span class="brand-text font-weight-light">상품 정보</span>{% endblock %}
        </a>
    {% endblock %}
    <!-- sidebar: style can be found in sidebar.less -->
    <div class="sidebar">
        {% block form %}{% endblock %}

        <!-- sidebar menu: : style can be found in sidebar.less -->
        {% block nav_links_ul %}
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    {% block nav_links_outer %}
                        {% block nav_links %}
                            <li class="nav-item">
                                <a href="{% url 'product:list' %}" class="nav-link active" id="level1_link_booking">
                                    <i class="nav-icon fas fa-chart-line"></i>
                                    <p>제품 리스트</p>
                                </a>
                            </li>
                        {% endblock nav_links %}
                    {% endblock nav_links_outer %}
                </ul>
            </nav>
        {% endblock nav_links_ul %}
    </div>
    <!-- /.sidebar -->
</aside>